<h2>Components</h2>

<section>
  <h1>Autocomplete</h1>
  <ttd-autocomplete
    [ngModel]="autocompleteSearchValue"
    (ngModelChange)="onSearchValueChange($event)"
    [items]="autocompleteItems"
    (selectedItemChange)="onAutocompleteSelectedItemChange($event)"
  >
    <template #item let-item="item">{{item}}</template>
  </ttd-autocomplete>
  <div>Selected item: {{autocompleteSelectedItem}}</div>
</section>

<section>
  <h1>Icons</h1>
  <div class="icons-container">
    <div class="icon-container" *ngFor="let icon of icons" title="{{icon}}">
      <ttd-icon [name]="icon"></ttd-icon>
    </div>
  </div>
</section>

<section>
  <h1>Spinner</h1>
  <ttd-spinner></ttd-spinner>
  <ttd-spinner ttd-spinner-sm></ttd-spinner>
  <ttd-spinner ttd-spinner-md></ttd-spinner>
  <ttd-spinner ttd-spinner-lg></ttd-spinner>
</section>
