<input
  type="search"
  autocomplete="off"
  [placeholder]="placeholder"
  [(ngModel)]="value"
  (blur)="onBlur()"
  (keyup)="onKeyup($event.keyCode)"
>
<div
  *ngFor="let item of items | async; let i = index"
  [class.active]="i === focusedItem"
  class="item"
>
  <template
    [ngTemplateOutlet]="itemTemplate"
    [ngOutletContext]="{item: item}"
  >
  </template>
</div>
<div>Count: {{itemCount}}</div>
<div>Focused item: {{itemsArray[focusedItem]}}</div>
<div>Focused item index: {{focusedItem}}</div>
