<aside class="sidebar">
  <ttd-toolbar>
    <a [routerLink]="['./events']">Home</a>
    <a [routerLink]="['./events/new']" routerLinkActive="active">New event</a>
    <a [routerLink]="['./events/search']" routerLinkActive="active">Find an event</a>
  </ttd-toolbar>
  <router-outlet></router-outlet>
</aside>
<div class="content">
  <mb-map
    [mbStyle]="'mapbox://styles/mapbox/streets-v9'"
    [longitude]="mapCenter.longitude"
    [latitude]="mapCenter.latitude"
    [zoom]="mapZoom"
    (moveend)="onMapMoveend($event)"
  ></mb-map>
</div>
