<aside class="sidebar">
  <ttd-toolbar>
    <button (click)="onLogin()" *ngIf="!authenticated">Log In</button>
    <button (click)="onLogout()" *ngIf="authenticated">Sign Out</button>
    <a [routerLink]="['./events']">Home</a>
    <a [routerLink]="['./events/new']" routerLinkActive="active">New event</a>
    <a [routerLink]="['./events/search']" routerLinkActive="active">Find an event</a>
  </ttd-toolbar>
  <router-outlet></router-outlet>
</aside>
<div class="content">
  <mb-map
    [mbStyle]="'mapbox://styles/mapbox/streets-v9'"
    [longitude]="mapCenter.lng"
    [latitude]="mapCenter.lat"
    [zoom]="mapZoom"
    (mbClick)="onMapClick($event)"
    (moveend)="onMapMoveend($event)"
  >
    <mb-info-popup [open]="!!selectedMapPoint" (close)="onCloseInfoPopup()">
      <mb-info-popup-content>
        <ttd-place-info-popup-container
          *ngIf="selectedPlace | async"
          [place]="selectedPlace | async"
          [point]="selectedMapPoint"
        >
        </ttd-place-info-popup-container>
      </mb-info-popup-content>
    </mb-info-popup>
  </mb-map>
</div>
