<aside class="sidebar">
  <ttd-toolbar>
    <a routerLink="/dashboard/events" routerLinkActive="active">Home</a>
    <a routerLink="/dashboard/events/new" routerLinkActive="active">New event</a>
    <a routerLink="/dashboard/events/search" routerLinkActive="active">Find an event</a>
  </ttd-toolbar>
  <router-outlet></router-outlet>
</aside>
<div class="content">
  <mb-map
    [mbStyle]="'mapbox://styles/mapbox/streets-v9'"
    [longitude]="-105"
    [latitude]="39"
    [zoom]="5"
  ></mb-map>
</div>
